<div class="item">
	<div class="header row">
		<div class="small-3 columns">
			<img src="img/hilton-logo.png" alt="Hilton Logo">
		</div>
		<div class="small-9 columns">
			<span class="title">Millenium Hilton</span>
			<br>
			<span>Confirm #: 443298475283</span>
		</div>
	</div>
	<div class="info row">
		<div class="small-9 columns">
			<span class="city">Address</span>
			<br>
			<span>4409 George K Bean Pkwy.</span>
		</div>
		<div class="small-3 columns">
			<span class="city">Time</span>
			<br>
			<span class="flight-date">8:00 AM</span>
		</div>
	</div>
</div>