<div class="item">
	<div class="header row">
		<div class="small-3 columns">
			<img src="img/AA.jpeg" alt="AA Logo">
		</div>
		<div class="small-6 columns">
			<span class="title">American Airlines</span>
			<br>
			<span>Locator: GWFFDT</span>
		</div>
		<div class="small-3 columns">
			<span class="flight-no">
				AA 1851
			</span>
		</div>
	</div>
	<div class="info row">
		<div class="small-4 columns">
			<span class="abbreviation">CLT</span>
			<br>
			<span class="city">Charlotte</span>
			<br>
			<span class="flight-date">6:03 AM</span>
		</div>
		<div class="small-4 columns text-center">
			<img class="plane" src="img/airplane_takeoff.png" alt="Airplane Takeoff">
		</div>
		<div class="small-4 columns">
			<span class="abbreviation">LGA</span>
			<br>
			<span class="city">New York</span>
			<br>
			<span class="flight-date">7:39 AM</span>
		</div>
	</div>
</div>