<footer>
	<div class="small-4 columns">
		<a href="https://twitter.com/itsracine">@itsracine</a>
	</div>
	<div class="small-4 columns text-right">
		<a href="https://dribbble.com/shots/2615542-079-Itinerary">#079</a>
	</div>
</footer>
